.svn
.mymetadata
.checkstyle
.classpath
.project
/Community-Web.iml
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/